section {
    background-color: hsl(0deg 0% 82.75%);
    width: 790px;
    height: 335px;
    overflow: auto;
    line-height: 1.18;
}



h1 {
    font-size: 35px;
    text-transform: uppercase;
    padding-top: 20px;
    text-align: center;
}

h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 0px;
}

p {
    text-indent: 40px;
    padding: 0px 20px;
    font-size: 24px;
    
}