.static .tags {
    position: static;
    top: 20px;
    left: 20px;
}

.relative .tags {
    position: relative;
    top: 20px;
    left: 50px;
}

.absolute {
    position: relative;
}

.absolute .tags {
    position: absolute;
    top: -10px;
    left: -20px;
}

.fixed .tags {
    position: fixed;
    top: 20px;
    left: 100px;
}

.sticky {
    height: 500px;
    overflow: auto;
}

.sticky .tags {
    position: sticky;
    top: 50px;
}