body {
    background-color: hsl(200.82deg 51.58% 81.37%);
}

.headerNews {
    border: 1px solid hsl(198.95deg 25.33% 85.29%);;
    padding: 5px;
    background: hsl(205deg 52.17% 90.98%);;
}

.headerNews h1, nav, ul, li {
    display: inline;
} 

.headerNews ul {
    list-style-type: none;
    padding-left: 20px;
}

.headerNews ul li {
    margin-right: 10px;
}


