@media (max-width: 600px) {
    .home-about section-container {
        padding-bottom: 0;
    }

    /* header */

    /* the nav */
    .navigation-nav {
        display: none;
    }

    /* main */

    /* span */
    .home-text {
        display: none
    }

    .home-text-container {
        margin-top: 30px;
    }

    /* animals */
    .home-tab-selector-cards-container {
        display: flex;
        flex-direction: column;
    }

    /* person container */
    .home-image-container {
        display: none;
    }

    /* footer */

    .section-container {
        padding-top: 40px;
        padding-bottom: 30px
    }

    .home-top-part {
        flex-direction: column;
    }

    .home-links-container {
        flex-direction: column;
    }

    .home-product-container,
    .home-navigate-container,
    .home-contact-container {
        margin-bottom: 35px;
    }
}