div {
    background-color: green;
    position: relative;
}

p {
    display: inline-block;
}

p:nth-child(1) {
    background-color: blue;
    position: absolute;
    top: 20px;
    right: 20px;
}

p:nth-child(2) {
    background-color: red;

}