div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div img.cup {
    width: 100%;
}

div img.advertising {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(35%, -35%);
}