body {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    width: 1150px;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul li {
    display: flex;
    align-items: center;
    border: 10px solid black;
    margin-bottom: 35px;
    padding: 30px 20px;
}

ul li img {
   box-shadow: 0 0 10px 2px #000000;
}
