html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    margin: 0 auto;
    margin-top: 200px;
}

section article {
    width: 250px;
}

section article h2 {
    font-family: Georgia, serif;
    line-height: 1.2;
    font-size: 32px;
}



