body {
    display: grid;
    grid-template-areas: 
    "h"
    "a"
    "m";
    gap: 10px;
}

header, aside, main {
    border: 3px solid black;
}

header {
    grid-area: h;
}

aside {
    grid-area: a;
}

main {
    grid-area: m;
}

@media (min-width: 600px) {
    body {
        grid-template-areas:
        "h h"
        "a m"
    }
}