img {
    vertical-align: top;
}

p {
    width: 450px;
    height: 275px;
    border-left: 2px solid hsl(0deg 0% 84.31%);;
    display: inline-block;
    font-size: 20px;
    text-align: justify;
    margin: 0;
    margin-left: 15px;
    padding-left: 15px;
    line-height: 1.5;
}